

 <h2>All Trips by Users</h2>

  <ul>
   <% @treks.each do |trek| %>
     
     <li><a href="/treks/<%= trek.id %>" style="color: #ffffff"><%= trek.name %> in <%= trek.location %>, by <%= trek.trek_creator %></a></li>
   <% end %>
 </ul>
