

 <h2>All Trips by Users</h2>

 
 
 <ul>
  <% @treks.each do |trek| %>
    <li><strong><% trek.id %><%= trek.name %> in <%= trek.location %></strong> by      <%= trek.trek_creator %></li>
  <% end %>
</ul>