<h3>Edit Your Trek</h3>


<form action="/treks/<%= @trek.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <label for="name">Trek Name: </label>
  <input type="text" class="form-control" name="name" value="<% @trek.name %>" placeholder="name">
  <br>
  <label for="location">Trek Location: </label>
  <input type="text" class="form-control" name="location" value="<% @trek.location %>" placeholder="location">
  <br>
  <input type="submit" class="btn btn-default" value="Submit">
  <button type="button" class="btn btn-default" name="cancel"><a href="/treks/<%= @trek.id %>">Cancel</a></button>
</form>
