
<br><br>
<h3>Trek Name: <%= @trek.name %></h3>
<h3>Location: <%= @trek.location %></h3>


<button type="button" class="btn btn-default"><a href="/treks/new">Create Trek</a></button> 



   
   
  <br><br>


    <form action="/treks/<%= @trek.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <button type="button" class="btn btn-default" name="edit_trip"><a href="/treks/<%= @trek.id %>/edit">Edit Trip</a></button>
  <input type="submit" class="btn btn-default" value="Delete Trip">
</form>



    