
<h2>Treks:</h2>


<button type="button" class="btn btn-default"><a href="/treks/new">Create a New Trip</a></button> <button type="button" class="btn btn-default"><a href="/treks/<%= @trek.id %>/edit">Edit Trip</a></button>



    
   
   
    <ul>
        <% @treks.each do |trek| %>
        <% if trek.user_id == session[:user_id] %>         
             <% trek.id %>  
         <li> <%= trek.name %>,
            <%= trek.location %> </li>
            <br>
              <% end %>
          <% end %>
    </ul>

    