




 <div class="inner cover" style="text-align: center">
  <h1 class="cover-heading">Welcome to Trekker</h1>
  <p class="lead">Your personal travel planner.</p> 
  <p> The last trip created: <%= @trek.name %> <br> <%= @trek.location %> </p>
  <p class="lead">
    <a href="/login" class="btn btn-default">Log In</a> or <a href="/signup" class="btn btn-default" style="margin-left: 20px">Sign Up</a>
  </p>
</div>



